body {
	background-color:rgb(255, 241, 220);
	color: rgb(30, 30, 30);
	font-family: 'Lora', serif;
	font size : 18px;
	font-weight: lighter;
}
h1, h2, h3 {
    font-family: font-family: 'Roboto', sans-serif;;
}
h1 {
  color: rgb(52, 98, 108);
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 32px;
  text-transform: uppercase;
 }
 h2 {
 	color: rgb(96, 150, 180);
    font-size: 24px;
    font-weight: 600;
}
h3 { 
   color: rgb(96, 150, 180);
   font-size: 24px;
   font-weight: 600;
}

a {
   color: rgb(123, 143, 161);
   text decoration : none;
}
a {
  color : rgb(123, 143, 161);
  text decoration :none;
}



.container {
	width: 700px;
	margin: 40px auto;
}

@media (maw-width: 760px) {
  .container {
  	width : 600px;
  }
}

@media (maw-width: 500px) {
  .container {
  	width : 400px;
  }
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
	border-radius: 3px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius:50%;
}

.btn-blue {
	backround-color:blue;
	color:whitesmoke;
	padding:15px 20px;
	border-radius:4px;
}
.btn-blue:hover {
	backround-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i:hover  {
	font-size : 50px
	color: rgb(230, 230, 230);
}

#introduction p {
	margin-bottom: 40px;
}




















